###########################################################
# AgendaFlow Web
###########################################################

#######################
# Angular
#######################

node_modules/

dist/

.angular/

#######################
# npm
#######################

npm-debug.log*


#######################
# IDE
#######################

.idea/
.vscode/

*.iml

#######################
# Environment
#######################

.env
.env.*

!.env.example

#######################
# Coverage
#######################

coverage/

#######################
# Temp
#######################

tmp/
temp/

#######################
# Logs
#######################

logs/

*.log

#######################
# OS
#######################

.DS_Store
Thumbs.db
desktop.ini

#######################
# NVM
#######################

.tools/